
p {
    font-size: 16px;
    color: rgb(53, 0, 0);
}
  
  @media (min-width: 768px) {
    p {
      font-size: 20px;
      color: rgb(0, 0, 88);
    }
  }
  
  @media (min-width: 1280px) {
    p {
      font-size: 24px;
      color: black;
    }
  }

.myimg img { width: 100%; /* background:rgba(251, 250, 250, 0.31); */}
.mytitle { width: 100%; background:rgba(249, 248, 248, 0.553); }

h2{
  color: rgba(153, 3, 78, 0.993);
  font-family: sans-serif; 
}
h3{
  font-family: sans-serif; 
}
h4{
  font-family: sans-serif; 
}

.Box {
  background-color: rgb(253, 251, 251);
}

.naiyou ul li{
  font-family: sans-serif;
}

.naiyou {        /*リスト内容の背景色の指定*/
    background:rgba(245, 218, 245, 0.741); 
    padding:10px;

    line-height:1.4em;

  }

  body {       /* 背景色 背景画像 */
     /* 背景画像  ●imagePink.jpg  ●haikei.gif*/
     background-image: url("haikei.gif"); /* 背景画像*/
     background-repeat: repeat-y;           /*縦方向に繰り返し*/
     background-size: cover;               /* 全画面 */
     background-attachment: fixed;         /* 固定 */
     background-position: center center;   /* 縦横中央 */
  }
